*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*Menu*/
.Menu {
    background-color: #101010;
    Height: 45px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.Menu li {
    padding: 10px 20px;
    color: #F1F1F1;
    display: inline-block;
    vertical-align: middle;
}

.Menu li a {
    transition: all 0.3s ease 0s;
    color: #F1F1F1;
}

.Menu li a:hover {
    color: #28A2CB;
}
/**/

/*Fonts*/
@font-face {
    font-family: SegoeB;
    src: url(Fonts/segoeuib.ttf);  
}

@font-face {
    font-family: SegoeBI;
    src: url(Fonts/seguisbi.ttf);  
}

@font-face {
    font-family: SegoeL;
    src: url(Fonts/segoeuil.ttf);  
}

body {
    background-color: #111E39;
}
/**/

/*Tekst*/
h1 {
    color: #F1F1F1;
    text-align: center;
    font-family: SegoeB;
}

h2 {
    color: #28A2CB;
    font-size: 20px;
    text-align: center;
    font-family: SegoeBI;
}

h3 {
    color: #28A2CB;
    font-size: 15px;
    text-align: center;
    font-family: SegoeBI;
    margin-top: 50px;
    margin-bottom: 10px;
}

p {
    color: #F1F1F1;
    font-size: 15px;
    font-family: SegoeL;
    margin: 30px;
    line-height: 160%;
}

li {
    color: #F1F1F1;
    text-align: center;
    font-size: 15px;
    font-family: SegoeB
}
/**/

.Præsentationsbillede {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/*Knapper*/
.Portfolio-knap {
    width: 140px;
    height: 40px;
    border: none;
    background-color: #28A2CB;
    color: #F1F1F1;
    text-align: center;
    font-family: SegoeB;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 50px;
}

.Portfolio-knap:hover {
    background-color: #70bfda;
}

.Portfolio-knap {border-radius: 20px;}

.wrapper {
    display: flex;
    justify-content: center;
}

/*Portfolio-styling*/
.Youtube-banners {
    justify-content: center;
}

.Reklamebillede {
    display: flex;
    justify-content: center;
}

.Posters {
    display: flex;
    justify-content: center;
}

.Tøj-design {
    display: flex;
    justify-content: center;
}

.Logo-designs-almindelige {
    display: flex;
    justify-content: center;
}

.Logo-designs-illustreret {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.Rumrejsen-startbillede {
    display: flex;
    justify-content: center;
}

.Rumrejsen-logo {
    display: flex;
    justify-content: center;
}

.Dans-dans-dans-startbillede {
    display: flex;
    justify-content: center;
}

.Dans-dans-dans-logo {
    display: flex;
    justify-content: center;
}

.Hold-og-priser {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Samlet-moodboard {
    display: flex;
    justify-content: center;
}

.Video-startbillede {
    display: flex;
    justify-content: center;
}

.Victor {
    display: flex;
    justify-content: center;
}

.Premiere-pro {
    display: flex;
    justify-content: center;
}

.Bag-rattet-startbillede {
    display: flex;
    justify-content: center;
}

.Bag-rattet-logo {
    display: flex;
    justify-content: center;
}

.Posts {
    display: flex;
    justify-content: center;
}

.Om-os {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
/**/

@media only screen and (max-width: 1000px) {
}